
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Справка</title>
    <link href="@Url.Content("~/Content/SiteCSS.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="overlay"></div>
        <div class="website_name">
            <a href="@Url.Action("Index","Home")">АнтиКонтрафакт</a>
        </div>
        <div class="QMark"><a href="@Url.Action("Info","Home")"><img src="@Url.Content("~/Images/Home_qmark.png")" width="49" height="51" /></a></div>
    </div>
        <div class="content2">
            <div class="infobox">
                <p align="left"><b>Основная задача сайта</b> - контроль за нелегальным оборотом контрафактной продукции в России.</p>
                <p align="left"><b>Основная функция сайта</b> - верификация продукции: сопоставление информации с Идернтификационной марки и сведений, хранящихся в Едином Центре обработки и хранения данных.</p>
                <p align="left"><b>Цель сайта</b> - противодействие развитию незаконного оборота контрафактной продукции, включая ее производство и распространение в Российской Федерации и за рубежом, и обеспечение защиты интеллектуальной собственности.</p>
                <p align="left"><b>Задачи сайта "Антиконтрафакт":</b></p>
                <ul>
                    <li><p align="left">Повышение безопасности, надежности и качества продаваемой продукции для потребителя.</li>
                    <li><p align="left">Проверка лицензионной продукции потребителям</li>
                    <li><p align="left">Хранение данных о лицензионной продукции</li>
                    <li><p align="left">Обеспечение потребителей актуальной информацией об изменениях в лицензиях продукции</li>
                    <li><p align="left">Регистрация жалоб потребителей на продукцию или на торговые точки, где сбывается нелегальная продукция.</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="author_label">
                <div class="authors">Дорышин М.О., Малкова С.А., Лебедева А.И.</div>
            </div>
        </div>
</body>
</html>
